.mat-table{
    overflow: auto;
    max-height: 600px;
    width: 100%;
}

mat-toolbar{
    background-color: #7FFF00;
    align-content: center;
    text-align: center;
}

mat-card{
    max-width: 85%;
    margin: 2em auto;
    display: flex;
}


.loading-spinner{
    padding: 25px;
    background: rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}