.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}


mat-card{
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    

    @media screen and (max-width: 500px) {
        max-width: 90%;
    }
}

.login-img{
    align-content: center;
    width: 100%;
}

mat-card-title{
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-form-field{
    width: 100%;
    margin-bottom: 10px;
}

.submit-button{
    border-radius: 50px;
    background-color: #7FF000 !important;
}

button{
    width: 100%;
}

@media screen and (max-width: 500px) {
    mat-card-title{
        font-size: 20px;
    }

    mat-form-field{
        margin-bottom: 10px;
    }
}

.error-snackbar{
    background-color: #f44336 !important;
}